"*":
  "exception-reporting":
    userId: "ca5f2cde-3311-a3a6-c360-60457166b850"
  welcome:
    showOnStartup: false
  minimap: {}
  core:
    themes: [
      "one-dark-ui"
      "one-light-syntax"
    ]
    disabledPackages: [
      "typewriter"
      "markdown-preview"
    ]
  "one-dark-ui": {}
  "autocomplete-bibtex":
    bibtex: [
      "/Users/bwsprague/Documents/library.bib"
    ]
  "autocomplete-python": {}
  editor:
    invisibles: {}
    showInvisibles: true
  Zen:
    softWrap: true
    minimap: true
    fullscreen: false
  "markdown-preview-plus":
    enableLatexRenderingByDefault: true
    pandocPath: "/usr/local/bin/pandoc"
    pandocBIBFile: "~/Documents/library.bib"
    pandocCSLFile: "~/Documents/journal-of-vision.csl"
    useLazyHeaders: false
    enablePandoc: true
    useGitHubStyle: true
  "build-tools": {}
".gfm.source":
  editor:
    softWrap: true
    showInvisibles: false
    scrollPastEnd: true
    showIndentGuide: false
    softWrapAtPreferredLineLength: true
"source.gfm":
  editor:
    softWrap: true
    fontFamily: "serif"
